
/*1080*/
/**
列表页
 */
.list-wrap {
    font-size: 16px;
    width: 1080px;
    margin: 1rem auto;
    text-align: left;
    padding-top: 50px;
    font-family: "Microsoft YaHei";
}
.list-wrap .navs {
    margin-bottom: 40px;
}
.list-wrap .navs ul {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.list-wrap .navs ul li {
    background: rgba(218, 218, 218, 0.55);
    font-size: 18px;
    width: 111px;
    height: 54px;
    line-height: 54px;
    text-align: center;
    border-radius: 2px;
}
.list-wrap .navs ul li:nth-child(1) {
    background: url(../images/1.jpg) no-repeat;
    background-size: cover;
}
.list-wrap .navs ul li:nth-child(2) {
    background: url(../images/3.jpg) no-repeat;
    background-size: cover;
}
.list-wrap .navs ul li:nth-child(3) {
    background: url(../images/2.jpg) no-repeat;
    background-size: cover;
}
.list-wrap .navs ul li:nth-child(4) {
    background: url(../images/8.jpg) no-repeat;
    background-size: cover;
}
.list-wrap .navs ul li:nth-child(5) {
    background: url(../images/7.jpg) no-repeat;
    background-size: cover;
}
.list-wrap .navs ul li:nth-child(6) {
    background: url(../images/9.jpg) no-repeat;
    background-size: cover;
}
.list-wrap .navs ul li:nth-child(7) {
     background: url(../images/5.jpg) no-repeat;
     background-size: cover;
}
.list-wrap .navs ul li:nth-child(8) {
    background: url(../images/10.jpg) no-repeat;
    background-size: cover;
}
.list-wrap .navs ul li:nth-child(9) {
     background: url(../images/4.jpg) no-repeat;
     background-size: cover;
}




.list-wrap .navs ul li a {
    display: block;
}

.list-wrap .navs ul li:hover {
    cursor: pointer;
    opacity: 0.7;
}

.contents {
    marign-top: 45px;
}
.article {
    width: 1080px;
    padding: 0.4rem;
    background: #fff;
    box-sizing: border-box;
    box-shadow: 0.1px 0.1px 3px rgb(230, 229, 229);
    margin: 0 0 0.3rem;
}
.title  {
    font-size: 0.4rem;
    text-align: left;
    font-weight: normal;
    margin: 0 !important;
}
.title a {
    color: #91a8d0;
}

.fmt a {
    color: #91a8d0;
}

.post_body p {
    display: block;
    line-height: 0.6rem;
    margin: 0.25rem 0;
}
.img, .post_body img {
    max-width: 3.2rem !important;
    text-align: left !important;
    display: flex !important;
    align-items: flex-start !important;
}

.info {
    color: #9E9E9E;
}
