
/**
分页
 */
.page_list {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
}
.page_list ul {
    overflow:hidden;
    border:1px solid #ddd;
    border-radius:3px;
    padding:0;
    margin:0;
    display:inline-block
}
.page_list ul li {
    float:left;
    border:none;
    height:30px;
    line-height:30px;
    border-right:1px solid #ddd;
    cursor: pointer;
}
.page_list ul li a {
    padding:6px 12px;
    text-decoration:none;
    color: #91a8d0;
}
.page_list ul li a:hover {
    background:#eee
}
.page_list ul li.active a {
    color:#fff;
    cursor:default;
    background-color:#337ab7;
    border-color:#337ab7
}
.page_nav {
    margin-top:15px;
    overflow:hidden
}
.page_nav a,.page_nav span {
    margin-right:10px;
    padding:5px 10px;
    float:left;
    border:1px solid #ddd;
    border-radius:3px;
    text-decoration:none
}
.page_nav a:hover {
    background:#eee
}
.page_nav span.current {
    background-color:#337ab7;
    border-color:#337ab7;
    color:#fff;
    cursor:default
}

.page_list ul li span {
    font-size: 15px;
    padding: 6px 12px;
}